.sidebar {
  width: 535px;
  height: 944px;
  border-radius: 40px;
  background-color: #f1e8c7;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 109px 70px 109px;
}

.container-buttons {
  width: 331px;
  display: flex;
  flex-direction: column;
  margin-left: 102px;
  margin-right: 102px;
  flex: 1;
}

.nav-btn {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 60px;
  background-color: #aab97e;
  color: #454135;
  font-weight: bold;
  font-size: 24px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.nav-btn:hover {
  color: #f1e8c7;
  background-color: #5d6939;
}

.nav-btn.active {
  background-color: #5d6939;
  color: #f1e8c7;
}

/* Последняя кнопка (панель управления) без отступа снизу */
.nav-btn:last-of-type {
  margin-bottom: 0;
}

.user {
  display: flex;
  margin: auto auto 40px auto;  /* центрирование с отступом снизу */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #aab97e;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.user:hover {
  transform: scale(1.1);
  background: #5d6939;
}

.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user:active {
  transform: scale(0.95);
}