.sidebar {
  width: 535px;
  height: 944px;
  border-radius: 40px;
  background-color: #f1e8c7;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 35px 109px 70px 109px;
}

.container-buttons {
  width: 331px;
  height: 404px;
  display: flex;
  flex-direction: column;
  margin-left: 102px;
  margin-right: 102px;
}

.nav-btn {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 60px;
  background-color: #aab97e;
  color: #454135;
  font-weight: bold;
  font-size: 24px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.nav-btn:hover {
  color: #f1e8c7;
  background-color: #5d6939;
}

.nav-btn.active {
  background-color: #5d6939;
  color: #f1e8c7;
}

.user {
  display: flex;
  margin: 0 auto;
}
