* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%; /* Блок занимает 100% ширины экрана (или родителя) */
  max-width: 1440px; /* Но не может стать шире 1440px */
  margin: 0 auto; /* Центрируется, если экран шире 1440px */
  background-color: #faf2e5;
}

/* СЕКЦИЯ СЛЕВА (САЙДБАР)*/

.sidebar {
  width: 535px;
  height: 944px;
  border-radius: 40px;
  background-color: #f1e8c7;
  color: white;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.logo {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 109px 70px 109px;
}
.container-buttons {
  width: 331px;
  display: flex;
  flex-direction: column;
  margin-left: 102px;
  margin-right: 102px;
}
/* СЕКЦИЯ СПРАВА (КОНТЕНТ) */

.main-content {
  width: 833px;
  height: 944px;
  background-color: #dbdaae;
  border-radius: 40px;
  margin-top: 25px;

  margin-right: 25px;
}
button {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 60px;
  background-color: #aab97e;
  color: #454135;
  font-weight: bold;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  color: #f1e8c7;
  background-color: #5d6939;
}

.user {
  display: flex;
  margin: 0 auto;
}
